# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
.venv/
venv/
env/

# ======================
# Jupyter / Notebooks
# ======================
.ipynb_checkpoints/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Project-specific caches
# ======================
.sofascore_stats_cache/
.sofascore_event_page_cache/

